*{margin: 0;padding: 0;box-sizing: border-box;font-family: Verdana;}
body{background-color:#ccc;}


/*  display:block;width:600px;height:600px;stroke:#000; */
.icon-1{fill:red;}
.icon-1:hover{fill:green;}

.icon-2{width:30px;height:30px;display:block;}













